@font-face {
  font-family: "Muli";
  font-display: swap;
  src: url("../fonts/Muli-Bold.woff") format("woff"), url("../fonts/Muli-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Muli";
  font-display: swap;
  src: url("../fonts/Muli-Regular.woff") format("woff"), url("../fonts/Muli-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body.lock {
  overflow: hidden;
}

.page {
  overflow: hidden;
}

body {
  font-family: 'Muli', sans-serif;
}

.other-packages {
  background-color: #F5FAFE;
}

.other-packages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other-packages__title {
  display: block;
  width: 100%;
  margin-top: 42px;
  margin-bottom: 64px;
  text-align: center;
}

.other-packages__card {
  margin-bottom: 30px;
}

.container {
  max-width: 1125px;
  margin: auto;
}

.title {
  text-transform: uppercase;
  font-size: 36px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__icon {
  margin-right: 4px;
}

.rating__icon:last-child {
  margin-right: 0;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 14px;
  height: 14px;
}

.icon_star {
  width: 6px;
  height: 6px;
  background: url("../img/other-packages/icons/star.svg") no-repeat center;
}

.icon_location {
  background: url("../img/other-packages/icons/map-pin.svg") no-repeat center;
}

.icon_user {
  background: url("../img/other-packages/icons/user.svg") no-repeat center;
}

.icon_home {
  background: url("../img/other-packages/icons/home.svg") no-repeat center;
}

.card {
  border-radius: 8px;
  background-color: #0A223D;
  color: #ffffff;
}

.card-list {
  list-style: none;
  font-size: 12px;
}

.card-list__text {
  margin-left: 6px;
}

.card-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-list__item:nth-child(1) {
  margin-bottom: 12px;
}

.card-list__item:nth-child(2) {
  margin-bottom: 12px;
}

.card-list__icon {
  margin-left: 2px;
  margin-right: 15px;
}

.card-offer {
  position: absolute;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  background-color: #EC1F46;
  padding: 3px;
  border-radius: 0px 4px 4px 0px;
}

.card-full {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 730px;
}

.card-full__leftside {
  line-height: 0;
}

.card-full__rating {
  margin-top: 47px;
}

.card-full__image {
  border-radius: 8px 0px 0px 8px;
  height: 100%;
  max-height: 500px;
}

.card-full__card-main {
  margin-left: 45px;
  margin-bottom: 55px;
  padding-right: 20px;
}

.card-full__card-footer_rightside {
  margin-right: 20px;
}

.card-full__card-footer_leftside {
  margin-left: 47px;
  margin-top: -16px;
}

.card-full__card-offer {
  top: 28px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 22px;
  margin-top: 1px;
  min-height: 28px;
  min-width: 95px;
}

.card-full__card-title {
  margin-top: 9px;
  margin-bottom: 29px;
}

.card-full__card-description {
  max-width: 300px;
  margin-bottom: 45px;
}

.card-mini {
  position: relative;
  min-height: 500px;
}

.card-mini__image {
  border-radius: 8px 8px 0 0;
}

.card-mini__card-offer {
  top: 27px;
  min-height: 18px;
  padding-left: 10px;
  line-height: 13px;
  min-width: 60px;
  font-size: 8px;
}

.card-mini__card-main {
  margin-left: 33px;
  margin-top: 30px;
}

.card-mini__card-list-icon {
  margin-left: 1px;
  margin-right: 12.7px;
}

.card-mini__card-title {
  margin-bottom: 25px;
}

.card-mini__card-footer {
  margin-top: 14px;
}

.card-mini__card-footer_leftside {
  margin-top: 12px;
  margin-left: 33px;
}

.card-mini__card-footer_rightside {
  margin-right: 20px;
}

.card-title {
  font-size: 18px;
}

.card-description {
  font-size: 14px;
  line-height: 160.6%;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-footer_leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-footer__button {
  min-width: 120px;
  min-height: 40px;
  border-radius: 2px;
}

.card__price-tag {
  margin-top: 8px;
}

.sale {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sale::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}

.price-tag {
  font-size: 24px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-size: 14px;
  background-color: #EC1F46;
  color: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.button:hover {
  background-color: #ef4061;
}

.button:active {
  background-color: #d51237;
}

@media screen and (max-width: 1200px) {
  .other-packages__wrap {
    max-width: 730px;
    margin: auto;
  }

  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: unset;
    min-height: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-full__rating {
    margin-bottom: 20px;
  }

  .card-full__card-footer_leftside {
    margin-top: 8px;
    line-height: 10px;
  }

  .card-mini__image {
    border-radius: 8px 0 0 8px;
  }

  .card-mini__card-footer_leftside {
    margin-top: 36px;
    line-height: 10px;
  }

  .card-box {
    width: 55%;
  }

  html {
    line-height: 0;
  }
}

@media screen and (max-width: 800px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: unset;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-width: 350px;
  }

  .card-box {
    width: 100%;
  }

  .card-full__card-main {
    margin-left: 0;
  }

  .card-full__card-footer_leftside {
    margin-left: 0;
  }

  .card-full__card-footer_rightside {
    margin-right: 0;
  }

  .card-full__image {
    border-radius: 8px 8px 0 0;
  }

  .card-mini__card-main {
    margin-left: 15px;
  }

  .card-mini__card-footer_leftside {
    margin-left: 15px;
  }

  .card-mini__image {
    border-radius: 8px 8px 0 0;
  }

  .other-packages__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .other-packages__title {
    margin: 35px auto;
  }

  .title {
    font-size: 25px;
  }

  .card {
    max-width: 300px;
  }

  .card-full__card-main {
    padding-right: 0;
  }

  .card-description {
    max-width: 280px;
  }
}

@media screen and (max-device-width: 1024px) {
  .button:hover {
    background-color: #EC1F46;
  }
}